<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="container">
	<div id="inner_container">
	
		<div id="header_image_holder">
			<img src="https://s3-ap-southeast-1.amazonaws.com/jiggieimages/emails/img-check.png" id="header_image" />
		</div>

		<div id="header">
			<h1>Congratulations <%=first_name%>!</h1>
			<% if(payment_method == "free"){ %>
			<p>You have booked a table for the event below.</p>
			<% }else{ %>
			<p>Your payment has been received and you have booked a table for the event below.</p>
			<% } %>
		</div>

		<div id="event">
			<h2><%=event_name%></h2>
			<span id="event_date"><%=event_date%></span>
		</div>

		<div id="rsvp_no">
			<p><strong>RESERVATION NUMBER</strong><span><%=rsvp_no%></span></p>			
		</div>

		<div id="customer_detail">
			<table class="summary">
				<tbody>
					<tr>
						<th>GUEST NAME</th>
						<td><%=guest_name%></td>
					</tr>
					<tr>
						<th>PHONE</th>
						<td><%=phone_cl%></td>
					</tr>
					<tr>
						<th>EMAIL</th>
						<td><%=email_cl%></td>
					</tr>
					<tr>
						<th>TOTAL GUEST</th>
						<td><%=total_guest%></td>
					</tr>
					<% if(payment_method == "free" && is_credit == false && is_discount == false){ %>
					<% }else{%>
					<tr>
						<th>STATUS</th>
						<td><%=status%></td>
					</tr>
					<tr>
						<th>PAYMENT METHOD</th>
						<td><%=payment_method%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>

		<div id="rsvp_title">
			<h3>RESERVATION SUMMARY</h3>			
			<span id="event_schedule"><%=event_datetime_word%></span>
		</div>

		<div id="rsvp_summary">
			<table class="summary">
				<tbody>
					<tr>
						<th><%=product_name%></th>
						<td><%=product_price%></td>
					</tr>
					<tr>
						<th>SERVICE FEE</th>
						<td class="bot-bor"><%=amount_service%></td>
					</tr>
					<% if(is_discount == true){ %>
						<% for(var i=0; i<datadiscount.data.length; i++){ %>
						<tr>
							<th><%=datadiscount.data[i].name%></th>
							<td>- <%=datadiscount.data[i].amount_used%></td>
						</tr>
						<% } %>
					<% } %>
					<tr>
						<th>TAX</th>
						<td><%=amount_tax%></td>
					</tr>
					<% if(is_credit == true){%>
					<tr>
						<th>Credit Used</th>
						<td>- <%= datacredit.credit_used%></td>
					</tr>
					<% } %>
					<tr>
						<th>ESTIMATED TOTAL</th>
						<td><%=amount_estimated%></td>
					</tr>
					<tr>
						<th>PAID DEPOSIT</th>
						<td class="bot-bor green"><%=amount_deposit%></td>
					</tr>
					<tr>
						<th>ESTIMATED BALANCE<br />(PAY AT VENUE)</th>
						<td><%=amount_balance%></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<% if(payment_method != "free"){ %>
		<div id="instruction">
			<h3>INSTRUCTIONS</h3>
			<p>
				<%-instructions%>
			</p>
		</div>
		<% } %>

	</div>
</div>
</body>
</html>