<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="container">
	<div id="inner_container">
	
		<div id="header_image_holder">
			<img src="https://s3-ap-southeast-1.amazonaws.com/jiggieimages/emails/img-check.png" id="header_image" />
		</div>

		<div id="header">
			<h1>Congratulations <%=first_name%>!</h1>
			<% if(payment_method == "free"){ %>
			<p>You have booked a ticket for the event below.</p>
			<% }else{ %>
			<p>Your payment has been received and you have booked a ticket for the event below.</p>
			<% } %>
			
		</div>

		<div id="event">
			<h2><%=event_name%></h2>
			<span id="event_date"><%=event_date%></span>
		</div>

		<div id="rsvp_no">
			<p><strong>ORDER NUMBER</strong><span><%=rsvp_no%></span></p>			
		</div>

		<div id="customer_detail">
			<table class="summary">
				<tbody>
					<tr>
						<th>GUEST NAME</th>
						<td><%=guest_name%></td>
					</tr>
					<tr>
						<th>STATUS</th>
						<% if(payment_method == "free"){ %>
							<td>FREE</td>
						<% }else{%>
							<td><%=status%></td>
						<% } %>
					</tr>
					<% if(payment_method != "free"){ %>
					<tr>
						<th>PAYMENT METHOD</th>
						<td><%=payment_method%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>

		<div id="rsvp_title">
			<h3>ORDER SUMMARY</h3>			
			<span id="event_schedule"><%=event_datetime_word%></span>
		</div>

		<div id="rsvp_summary">
			<table class="summary">
				<tbody>
					<tr>
						<th><%=product_name%></th>
						<% if(payment_method == "free"){ %>
							<td>FREE</td>
						<% }else{%>
							<td><%=product_price%></td>
						<% } %>
					</tr>
					<% if(payment_method != "free"){ %>
					<tr>
						<th>ADMINISTRATIVE FEE</th>
						<td><%=amount_service%></td>
					</tr>
					<tr>
						<th>TAX</th>
						<td class="bot-bor"><%=amount_tax%></td>
					</tr>
					<% } %>
					<tr class="total">
						<th>TOTAL</th>
						<% if(payment_method == "free"){ %>
							<td>FREE</td>
						<% }else{%>
							<td><%=total%></td>
						<% } %>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="instruction">
			<h3>INSTRUCTIONS</h3>
			<p>
				<%-instructions%>
			</p>
		</div>

	</div>
</div>
</body>
</html>