<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="container">
	<div id="inner_container">
	
		<div id="header_image_holder">
			<img src="https://s3-ap-southeast-1.amazonaws.com/jiggieimages/emails/img-check.png" id="header_image" />
		</div>

		<div id="header">
			<h1>Congratulations <%=first_name%>!</h1>
			<p>You have booked a ticket/table for the event below. Please make payment before this booking expires.</p>
		</div>

		<div id="event">
			<h2><%=event_name%></h2>
			<span id="event_date"><%=event_date%></span>
		</div>

		<div id="rsvp_no">
			<p><strong>ORDER NUMBER</strong><span><%=rsvp_no%></span></p>
			<p><strong>PRODUCT NAME</strong><span><%=product_name%></span></p>
			<p><strong>PAYMENT METHOD</strong><span><%=payment_method%></span></p>			
		</div>

		<div id="transfer_summary">
			<table>
				<tbody>
					<tr>
						<td class="right-border">
							<p>Transfer Time Limit</p>
							<p class="purple-big"><%=time_limit%></p>
						</td>
						<td>
							<p>Transfer Amount</p>
							<p class="purple-big"><%=amount%></p>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<% if(payment_method == "Bank Transfer BCA Bank") {%>
								<p>Transfer To:</p>
							<% }else if(payment_method == "Mandiri Bill Payment"){%>
								<p>Payment Code:</p>
							<% }else if(payment_method == "Bank Transfer Permata Bank"){%>
								<p>Transfer To:</p>
							<% }else{%>
								<p>Transfer To:</p>
							<% } %>
							<p class="purple-big"><%=account_number%></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div id="instruction">
			<% for(var i=0; i<step_payment.length; i++){ %>
			<h3><%=step_payment[i].header%></h3>
			<p>
				<ol>
					<% for(var x=0; x<step_payment[i].steps.length; x++){%>
						<li><%=step_payment[i].steps[x]%></li>
					<% } %>
				</ol>
			</p>
			<% } %>
		</div>
		

	</div>
</div>
</body>
</html>